.container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border: 4px dashed rgba(0, 0, 255, 0.4);
  font-size: larger;
  font-weight: bold;
  flex-direction: column;


}

.container:hover {
  /* Set the background color to light purple on hover */
  border-color: rgb(25, 0, 255);
}

.isDragging {
  background-color: rgb(42, 228, 10);
}

.fileContentsViewer {
  border: 1px solid black;
  padding: 10px;
  background-color: rgb(240, 240, 255);
}

.error {
  color: darkred;
  background-color: lightcoral;
  padding: 10px;
  text-align: center;
}

.fileSaveContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.semi-card-header {
  padding: 20px;
}